/SubReporteRayaNomina.jasper
/TablaDeduccionRayaNomina.jasper
/TablaPercepcionRayaNomina.jasper
/subReporteNominaMensual.jasper
/TablaProvision.jasper
/TablaPercepcion.jasper
/TablaDeduccion.jasper
/ComprobanteFiscal.jasper
/LayoutCargaMasivaEventosIncidencias.jasper
/TablaAuxiliarSubReporteEstilo.jasper
/PerfilEmpleado.jasper
/TablaBasica.jasper
/TablaAuxiliarSubReporte.jasper
